<p-toast [style]="{marginTop: '80px'}" position="top-right"></p-toast>
<div class="py-3">
  <h5 *ngIf="isCreate">Створення користувача</h5>
  <h5 *ngIf="!isCreate">Редагування користувача</h5>
</div>
<div class="edit-page">
  <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
    <div class="form-group row">
      <label for="user-name" class="col-md-4 col-form-label text-right require">Назва річки</label>
      <div class="col-md-6">
        <input id="user-name" class="form-control" [ngClass]="{'is-invalid': isFieldError('name')}" type="text"
          formControlName="name" autofocus />
        <div *ngIf="isFieldError('name')" class="invalid-feedback ">
          <div *ngIf="getErrorParam('name', 'required')">
            Обов'язкове поле
          </div>
          <div *ngIf="getErrorParam('name', 'minlength') || getErrorParam('name', 'maxlength')">
            Поле повинно містити більше 2 символів, та менше 32
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="isAdmin" class="col-lg-4 col-md-6 col-form-label text-right">
        Адміністратор
      </label>
      <div class="col-lg-7 col-md-6">
        <label class="checkbox-container">
          <input id="isAdmin" type="checkbox" formControlName="isAdmin">
          <span for="isAdmin" class="checkmark"></span>
        </label>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-10 text-right">
        <button class="btn btn-default border mr-2" type="button" (click)="cancel()">
          Скасувати
        </button>
        <button class="btn btn-primary" type="submit" [disabled]="loading || editForm.invalid">
          Зберегти
        </button>
      </div>
    </div>
  </form>
</div>
