<p-toast [style]="{marginTop: '80px'}" position="top-right"></p-toast>
<div class="py-3">
  <h5>Головна сторінка</h5>
  <div class="row">
    <div class="col-md-5 text-right">
      <img src="assets/image/river.gif" alt="river">
    </div>
    <div class="col-md-7">
      <p-card>
        У басейни українських річок, за різними оцінками, щорічно скидається близько <b>10 млрд</b>
        кубометрів стічних
        вод, з яких забруднених – <b>3,5 млрд</b> кубометрів. Порушення норм якості води досягло рівнів, які ведуть до деградації водних екосистем,
        зниження продуктивності водойм.
      </p-card>
      <div class="main-title mt-5 mb-5">
        Чиста вода – основа здоров'я!<br>
        Бережіть воду!
      </div>
      <div class="card-main">
        <button type="button" class="btn btn-primary btn-main" routerLink="/research" routerLinkActive="active"
          #research="routerLinkActive">Спрогнозувати
          очищення води</button>
      </div>
    </div>
  </div>
</div>
