<div class="py-3">
  <h5>Витрачені речовини очистки</h5>
</div>
<div class="row justify-content-between mb-3">
  <div class="col-1">
    <button class="btn btn-sm btn-outline-secondary add-item table-btn" (click)="openCreateScreen()">
      <fa-icon [icon]="['fas', 'plus']"></fa-icon>
    </button>
  </div>
</div>
<p-table [value]="spentCleaningSubstances" [paginator]="true" [rows]="defaultPageOption">
  <ng-template pTemplate="header">
    <tr>
      <th id="th-table">
        Дата
      </th>
      <th id="th-table">
        Речовини
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-spentCleaningSubstance>
    <tr id="tr-table">
      <td>
        <h6>{{convertDate(spentCleaningSubstance.date)}}</h6>
      </td>
      <td>
        <div class="d-flex justify-content-between align-items-center">
          <div *ngFor="let cleaningSubstance of spentCleaningSubstance.substances">
            <h6>{{cleaningSubstance.substance.name}}</h6>
          </div>
          <div>
            <button class="btn btn-sm btn-outline-secondary table-btn" (click)="openEditScreen(spentCleaningSubstance)">
              <fa-icon [icon]="['fas', 'pencil-alt']"></fa-icon>
            </button>
            <button class="btn btn-sm btn-outline-secondary table-btn"
              (click)="showDeleteConfirmation(spentCleaningSubstance, template)">
              <fa-icon [icon]="['fas', 'trash']"></fa-icon>
            </button>
          </div>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>

<ng-template #template>
  <div class="modal-header">
    <h4 id="dialog-auto-name" class="modal-title pull-left">Повідомлення</h4>
    <button *ngIf="error" type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div *ngIf="error" class="modal-body error-message">
    {{error}}
  </div>
  <div *ngIf="!error">
    <div class="modal-body">
      Ви впевнені, що хочете видалити витрачені речовини очистки за дату: {{convertDate(itemToDelete.date)}}?
    </div>
    <div class="modal-footer">
      <button type="button" class="btn border" (click)="modalRef.hide()">Скасувати</button>
      <button type="button" class="btn btn-primary" (click)="deleteItem(itemToDelete.id)">Ок</button>
    </div>
  </div>
</ng-template>
