<p-pickList #pickListComponent
[source]="sourceList"
[target]="targetList"
[responsive]="true"
[sourceHeader]="sourceListHeader"
[targetHeader]="targetListHeader"
filterBy="name"
sourceFilterPlaceholder="Пошук"
targetFilterPlaceholder="Пошук"
[sourceStyle]="{'padding':'5px', 'overflow-x': 'hidden'}"
[targetStyle]="{'padding':'5px', 'overflow-x': 'hidden'}"
[showSourceControls]="false"
[showTargetControls]="false"
(onMoveAllToTarget)="onMove()"
(onMoveAllToSource)="onMove()"
(onMoveToTarget)="onMove()"
(onMoveToSource)="onMove()"
>
  <ng-template let-listItem pTemplate="item">
    <span>{{listItem.name}}</span>
  </ng-template>
</p-pickList>
