<div class="py-3">
  <h5>Поточний стан</h5>
  <div class="pl-2">
    <div class="form-group row">
      <label for="river-name" class="col-md-3 col-form-label text-right require">Річка</label>
      <div class="col-md-3">
        <select class="form-control" (change)="setNewRiverSections($event)">
          <option [value]="null">Виберіть річку</option>
          <option *ngFor="let river of rivers" [value]="river.id">{{river.name}}</option>
        </select>
      </div>
      <label for="riverSection-name" class="col-md-3 col-form-label text-right require">Ділянка річки</label>
      <div class="col-md-3">
        <select class="form-control" (change)="onChangeRiverSections($event)">
          <option [value]="null">Виберіть ділянку річки</option>
          <option *ngFor="let riverSection of riverSections" [value]="riverSection.id">{{riverSection.name}}</option>
        </select>
      </div>
    </div>

    <ng-container *ngIf="measures && measures.length">
      <div class="form-group row">
        <p-gmap class="col-md-6" [options]="options" (onMapReady)="setMap($event)" [overlays]="overlays"
          [style]="{'height':'250px'}">
        </p-gmap>
        <!-- <div class="col-md-6">
          <label for="river-name" class="col col-form-label">Дата виміру:</label>
          <label class="col col-form-label">
            {{measures[0].date}}
          </label>
        </div> -->
      </div>

      <p-table [value]="measures" class="mb">
        <ng-template pTemplate="header">
          <tr>
            <th id="th-table">
              Точка
            </th>
            <th id="th-table">
              Субстанціїя
            </th>
            <th id="th-table">
              Значення
            </th>
            <th id="th-table">
              Дата останнього виміру в точці
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-measure>
          <tr id="tr-table">
            <td>
              {{measure.measuring_point.name}}
            </td>
            <td>
              {{measure.substance.name}}
            </td>
            <td>
              <div>{{measure.value}}</div>
              <div *ngIf="isInvalidValue(measure.value, measure.substance.validValue)"><span
                  class="badge badge-danger">Допустиме значення: {{ measure.substance.validValue }}
                  {{measure.substance.unitsMeasure}}</span></div>
            </td>
            <td>
              {{measure.date}}
            </td>
          </tr>
        </ng-template>
      </p-table>

      <div class="form-group row mt-3">
        <div class="col-md-12 text-right">
          <button class="btn btn-primary border mr-2" type="button" (click)="cancel()">
            Спрогнозувати очищення
          </button>
        </div>
      </div>
    </ng-container>
  </div>
</div>
