<nav class="col d-md-block sidebar">
  <div class="sidebar-sticky py-3">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" routerLink="/main" routerLinkActive="active" #mainPage="routerLinkActive" id="mainNavLink">
          <div class="rounded pl-2">
            <span>Головна</span>
          </div>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/currentState" routerLinkActive="active" #currentState="routerLinkActive" id="currentStateNavLink">
          <div class="rounded pl-2">
            <span>Поточний стан</span>
          </div>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/research" routerLinkActive="active" #research="routerLinkActive" id="researchNavLink">
          <div class="rounded pl-2">
            <span>Дослідження</span>
          </div>
        </a>
      </li>
      <li class="nav-item" *ngIf="showForAdmin()">
        <accordion>
          <accordion-group [isOpen]="isOpenedAdministration(rivers, riverSections, substances, measuringPoints, realMeasures, users)">
            <div id="heading-accordion-administration" class="rounded"
              [ngClass]="{'active-accordion-heading': isOpenedAdministration(rivers, riverSections, substances, measuringPoints, realMeasures, users)}" accordion-heading>
              <a class="pl-2">
                <span>Адміністрування</span>
                <fa-icon [icon]="['fas', 'angle-down']"></fa-icon>
              </a>
            </div>
            <a class="nav-link" routerLink="/rivers" routerLinkActive="active" #rivers="routerLinkActive"
              id="riversNavLink">
              <div class="rounded div-ml-4 pl-2">
                <span>Річки</span>
              </div>
            </a>
            <a class="nav-link" routerLink="/riverSections" routerLinkActive="active" #riverSections="routerLinkActive"
              id="riverSectionsNavLink">
              <div class="rounded div-ml-4 pl-2">
                <span>Ділянки річок</span>
              </div>
            </a>
            <a class="nav-link" routerLink="/measuringPoints" routerLinkActive="active" #measuringPoints="routerLinkActive"
              id="measuringPointsNavLink">
              <div class="rounded div-ml-4 pl-2">
                <span>Точки виміру</span>
              </div>
            </a>
            <a class="nav-link" routerLink="/realMeasures" routerLinkActive="active" #realMeasures="routerLinkActive"
              id="realMeasureNavLink">
              <div class="rounded div-ml-4 pl-2">
                <span>Реальні виміри</span>
              </div>
            </a>
            <a class="nav-link" routerLink="/substances" routerLinkActive="active" #substances="routerLinkActive"
              id="substancesNavLink">
              <div class="rounded div-ml-4 pl-2">
                <span>Речовини</span>
              </div>
            </a>
            <a class="nav-link" routerLink="/users" routerLinkActive="active"
              #users="routerLinkActive" id="usersNavLink">
              <div class="rounded div-ml-4 pl-2">
                <span>Користувачі</span>
              </div>
            </a>
          </accordion-group>
        </accordion>
      </li>
    </ul>
  </div>
</nav>
