<label for="substance" class="col-md-6 col-form-label text-right require">Речовини очистки</label>
<span class="col-md-6">
  <button class="btn btn-sm btn-outline-secondary table-btn table-edit-btn m-0" type="button"
    [ngClass]="{'is-invalid': !cleaningSubstances.length}" (click)="showConfirmation(editScreen)">
    <fa-icon [icon]="['fas', 'plus']"></fa-icon>
  </button>
</span>
<p-table [value]="cleaningSubstances">
  <ng-template pTemplate="header">
    <tr>
      <th id="th-table" class="text-break">
        Речовина
      </th>
      <th id="th-table" class="text-break">
        Кількість
      </th>
      <th id="th-table" class="min-w-for-btns text-break"></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-cleaningSubstance>
    <tr id="tr-table">
      <td class="border-0 text-break">
        {{cleaningSubstance.substance.name}}
      </td>
      <td class="border-0 text-break">
        {{cleaningSubstance.count}}
      </td>
      <td class="border-left-0 min-w-for-btns">
        <div class="d-flex justify-content-end align-items-center">
          <button class="btn btn-sm btn-outline-secondary table-btn table-edit-btn" type="button"
            (click)="showConfirmation(editScreen, null, cleaningSubstance)">
            <fa-icon [icon]="['fas', 'pencil-alt']"></fa-icon>
          </button>
          <button class="btn btn-sm btn-outline-secondary table-btn delete-btn" type="button"
            (click)="showConfirmation(template, null, cleaningSubstance)">
            <fa-icon [icon]="['fas', 'trash']"></fa-icon>
          </button>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>

<ng-template #editScreen>
  <div class="modal-header">
    <h4 class="modal-title pull-left">
      <ng-container *ngIf="!itemToProcess">Додати речовину</ng-container>
      <ng-container *ngIf="itemToProcess">Редагувати речовину</ng-container>
    </h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()" id="closeButton">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-break">
    <form [formGroup]="cleaningSubstanceForm" class="container-fluid">
      <div class="form-group row">
        <label for="substance" class="col-lg-4 col-md-6 col-form-label text-right require">
          Речовина
        </label>
        <div class="col-lg-7 col-md-6">
          <select id="substance" class="form-control" formControlName="substance"
            [ngClass]="{'is-invalid': isFieldError('substance')}">
            <option [value]="null" disabled>Виберіть речовину</option>
            <option *ngFor="let substance of substances" [ngValue]="substance">{{substance.name}}</option>
          </select>
          <div *ngIf="isFieldError('substance')" class="invalid-feedback">
            <div *ngIf="getErrorParam('substance', 'required')">
              Обов'язкове поле
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="count" class="col-lg-4 col-md-6 col-form-label text-right require">
          Кількість
        </label>
        <div class="col-lg-7 col-md-6">
          <input id="count" class="form-control" formControlName="count" type="number"
            [ngClass]="{'is-invalid': isFieldError('count')}" />
          <div *ngIf="isFieldError('count')" class="invalid-feedback">
            <div *ngIf="getErrorParam('count', 'required')">
              Обов'язкове поле
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default border mr-2" type="button" (click)="closeModal()">
      Скасувати
    </button>
    <button class="btn btn-primary" type="button" (click)="addCleaningSubstance()"
      [disabled]="loading || cleaningSubstanceForm.invalid">
      Зберегти
    </button>
  </div>
</ng-template>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">
      Повідомлення
    </h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()" id="closeButton">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-break">
    Ви впевнені, що хочете видалити "{{itemToProcess.substance.name}}"?
  </div>
  <div class="modal-footer">
    <button class="btn btn-default border mr-2" type="button" (click)="closeModal()">
      Скасувати
    </button>
    <button class="btn btn-primary" type="button" (click)="deleteCleaningSubstance()">
      Ок
    </button>
  </div>
</ng-template>
