<p-toast [style]="{marginTop: '80px'}" position="top-right"></p-toast>
<div class="py-3">
  <h5>Дослідження</h5>
  <div class="pl-2">
    <div class="form-group row">
      <label for="river-name" class="col-md-3 col-form-label text-right require">Річка</label>
      <div class="col-md-3">
        <select class="form-control" [(ngModel)]="selectRiverId" (change)="setNewRiverSections($event)">
          <option [value]="null">Виберіть річку</option>
          <option *ngFor="let river of rivers" [value]="river.id">{{river.name}}</option>
        </select>
      </div>
      <label for="riverSection-name" class="col-md-3 col-form-label text-right require">Ділянка річки</label>
      <div class="col-md-3">
        <select class="form-control" [(ngModel)]="selectRiverSectionId" (change)="onChangeRiverSections($event)">
          <option [value]="null">Виберіть ділянку річки</option>
          <option *ngFor="let riverSection of riverSections" [value]="riverSection.id">{{riverSection.name}}</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 col-form-label text-right require">Кількість груп (l)</label>
      <div class="col-md-3">
        <select class="form-control" (change)="setGroupL($event)">
          <option [value]="null">Виберіть групу</option>
          <option [value]="1">1</option>
          <option [value]="2">2</option>
          <option [value]="3">3</option>
        </select>
      </div>
      <label for="riverSection-name" class="col-md-3"></label>
      <div class="col-md-3">
        <!-- <select class="form-control" (change)="setStep($event)">
          <option [value]="null">Виберіть крок</option>
          <option [value]="1">Щогодини</option>
          <option [value]="24">Щоденно</option>
        </select> -->
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-12 text-right">
        <button class="btn btn-primary border mr-2" type="button" (click)="forecastCleaning()"
          [disabled]="!selectRiverId || !selectRiverSectionId || !l || !dh">
          Спрогнозувати очищення
        </button>
      </div>
    </div>
  </div>

  <div class="pl-2">
    <ng-container *ngIf="measures && measures.length">
      <div class="badge badge-info">
        Повністю ділянка очиститься за {{maxCleanTime()}}
        <ng-container *ngIf="dh == 1">год.</ng-container>
        <ng-container *ngIf="dh == 24">дн.</ng-container>
      </div>
      <p-table [value]="measures" [style]="{width:'65vw'}">
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th id="th-table">
              Речовина
            </th>
            <th id="th-table">
              Час очищення
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-measure let-columns>
          <tr id="tr-table">
            <td>
              <span class="font-weight-bold">{{measure.substance.name}}</span>
            </td>
            <td>
              {{measure.cleanTime}}
              <ng-container *ngIf="dh == 1">(год.)</ng-container>
              <ng-container *ngIf="dh == 24">(дн.)</ng-container>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </ng-container>
  </div>


  <div class="pl-2" *ngFor="let measure of measures">
    <p-chart type="line" [data]="measure.data" class="chart"></p-chart>

    <p-table *ngIf="measure.datasets && measure.datasets.length" [value]="measure.datasets" [scrollable]="true"
      scrollHeight="400px" [style]="{width:'65vw'}">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th id="th-table">
            Точка
          </th>
          <th id="th-table">
            Стан
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-data let-columns>
        <tr id="tr-table">
          <td>
            <span class="font-weight-bold">{{data.label}}</span>
          </td>
          <td *ngFor="let item of data.data">
            {{item}}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
