<p-toast [style]="{marginTop: '80px'}" position="top-right"></p-toast>
<div class="py-3">
  <h5 *ngIf="isCreate">Створення реального виміру</h5>
  <h5 *ngIf="!isCreate">Редагування реального виміру</h5>
</div>
<div class="edit-page">
  <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
    <div class="form-group row">
      <label for="date" class="col-md-6 col-form-label text-right require">Дата виміру</label>
      <div class="col-md-6">
        <p-calendar id="date" formControlName="date" [showTime]="true" [ngClass]="{'is-invalid': isFieldError('date')}">
        </p-calendar>
        <div *ngIf="isFieldError('date')" class="invalid-feedback ">
          <div *ngIf="getErrorParam('date', 'required')">
            Обов'язкове поле
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="substance" class="col-md-6 col-form-label text-right require">Речовина</label>
      <div class="col-md-6">
        <select class="form-control" formControlName="substance" [compareWith]="compareById">
          <option value="null">Виберіть речовину</option>
          <option *ngFor="let substance of substances" [ngValue]="substance">{{substance.name}}</option>
        </select>
        <div *ngIf="isFieldError('substance')" class="invalid-feedback ">
          <div *ngIf="getErrorParam('substance', 'required')">
            Обов'язкове поле
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="value" class="col-md-6 col-form-label text-right require">Значення виміру</label>
      <div class="col-md-6">
        <input id="value" type="text" class="form-control" [ngClass]="{'is-invalid': isFieldError('value')}"
          formControlName="value" autofocus />
        <div *ngIf="isFieldError('value')" class="invalid-feedback ">
          <div *ngIf="getErrorParam('value', 'required')">
            Обов'язкове поле
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="measuring_point" class="col-md-6 col-form-label text-right require">Річка</label>
      <div class="col-md-6">
        <select #riverSelect class="form-control" (change)="setNewRiverSections($event)">
          <option [value]="null">Виберіть річку</option>
          <option *ngFor="let river of rivers" [value]="river.id">{{river.name}}</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label for="measuring_point" class="col-md-6 col-form-label text-right require">Ділянка річки</label>
      <div class="col-md-6">
        <select #riverSectionSelect class="form-control" (change)="onChangeRiverSections($event)">
          <option [value]="null">Виберіть ділянку річки</option>
          <option *ngFor="let riverSection of riverSections" [value]="riverSection.id">{{riverSection.name}}</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label for="measuring_point" class="col-md-6 col-form-label text-right require">Точка виміру</label>
      <div class="col-md-6">
        <select class="form-control" formControlName="measuring_point" [compareWith]="compareById">
          <option value="null">Виберіть точку</option>
          <option *ngFor="let measuringPoint of measuringPoints" [ngValue]="measuringPoint">{{measuringPoint.name}}
          </option>
        </select>
        <div *ngIf="isFieldError('measuring_point')" class="invalid-feedback ">
          <div *ngIf="getErrorParam('measuring_point', 'required')">
            Обов'язкове поле
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-12 text-right">
        <button class="btn btn-default border mr-2" type="button" (click)="cancel()">
          Скасувати
        </button>
        <button class="btn btn-primary" type="submit" [disabled]="loading || editForm.invalid">
          Зберегти
        </button>
      </div>
    </div>
  </form>
</div>
