<nav class="navbar fixed-top flex-nowrap p-0">
  <div class="navbar-brand text-center pl-4">
    <h6>Визначення динаміки стану річкових вод</h6>
  </div>
  <div class="d-flex justify-content-end navbar-menu">
    <ul class="nav">
      <li class="nav-item user-info">
        <button type="button" class="btn btn-outline-warning nav-item " (click)="showConfirm()">Переглянути забруднені
          ділянки</button>
      </li>
      <li class="nav-item account-img mr-3" dropdown>
        <div class="user-icon" dropdownToggle>
          <fa-icon [icon]="['fas', 'user-circle']"></fa-icon>
        </div>
        <ul *dropdownMenu class="dropdown-menu dropdown-menu-right p-0">
          <li>
            {{currentUserName}}
          </li>
          <li (click)="logout()">
            <a class="logout">Вийти</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
<div class="container-fluid">
  <div class="row">
    <app-sidebar></app-sidebar>
    <main id="main" role="main" class="col px-4">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>


<p-toast position="top-right" key="riverWarn" (onClose)="clear()" [baseZIndex]="5000">
  <ng-template let-message pTemplate="message">
    <div style="text-align: center">
      <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
      <h3>{{message.summary}}</h3>
      <p>{{message.detail}}</p>
      <div *ngFor="let measure of measures">
        <p>Річка: {{measure.river.name}}</p>
        <p>Ділянка: {{measure.name}}</p>
        <button type="button" class="btn btn-primary" (click)="onConfirm(measure.river.id, measure.id)">Спрогнозувати
          очищення</button>
      </div>
    </div>
  </ng-template>
</p-toast>
