<p-toast [style]="{marginTop: '80px'}" position="top-right"></p-toast>
<nav class="navbar fixed-top flex-nowrap p-0">
  <div class="navbar-brand text-center pl-4">
    <h6>Визначення динаміки стану річкових вод</h6>
  </div>
  <div class="d-flex justify-content-end navbar-menu">
    <ul class="nav">
      <li class="nav-item user-info">
        <button type="button" id="blink" class="btn btn-danger nav-item " (click)="showConfirm()">Переглянути забруднені
          ділянки</button>
      </li>
      <li class="nav-item account-img mr-3" dropdown>
        <div class="user-icon" dropdownToggle>
          <fa-icon [icon]="['fas', 'user-circle']"></fa-icon>
        </div>
        <ul *dropdownMenu class="dropdown-menu dropdown-menu-right p-0">
          <li>
            {{currentUserName}}
          </li>
          <li (click)="openModal(template)">
            Змінити пароль
          </li>
          <li (click)="logout()">
            <a class="logout">Вийти</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
<div class="container-fluid">
  <div class="row">
    <app-sidebar></app-sidebar>
    <main id="main" role="main" class="col px-4">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>


<p-toast position="top-right" key="riverWarn" (onClose)="clear()" [baseZIndex]="5000">
  <ng-template let-message pTemplate="message">
    <div style="text-align: center">
      <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
      <h3>{{message.summary}}</h3>
      <p>{{message.detail}}</p>
      <div *ngFor="let measure of measures">
        <p>Річка: {{measure.river.name}}</p>
        <p>Ділянка: {{measure.name}}</p>
        <button type="button" class="btn btn-primary" (click)="onConfirm(measure.river.id, measure.id)">Спрогнозувати
          очищення</button>
      </div>
    </div>
  </ng-template>
</p-toast>

<ng-template #template>
  <div class="modal-header">
    <h4 id="dialog-auto-name" class="modal-title pull-left">Змінити пароль</h4>
    <button *ngIf="error" type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div>
    <div class="modal-body">
      <div class="form-group row">
        <label for="user-name" class="col-md-6 col-form-label text-right require">Введіть новий пароль</label>
        <div class="col-md-6">
          <input type="password" pPassword promptLabel="Введіть пароль" weakLabel="Слабкий" mediumLabel="Середній"
            strongLabel="Сильний" [(ngModel)]="password" />
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn border" (click)="modalRef.hide()">Скасувати</button>
      <button type="button" class="btn btn-primary" (click)="changePass()">Ок</button>
    </div>
  </div>
</ng-template>
