@import "../../app/constants"

html,
body
  height: 100%
*:focus
  outline: unset
span,
li
  color: $color-text
.btn-primary,
.btn-primary:hover,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-primary.dropdown-toggle:focus,
.btn-primary.disabled,
.btn-primary:disabled
  background-color: $primary-color
  border-color: $primary-color
  box-shadow: unset
.btn:not(:disabled):not(.disabled).active:focus,
.btn:not(:disabled):not(.disabled):active:focus,
.show>.btn.dropdown-toggle:focus
  box-shadow: unset
.main-title
  color: $primary-color
  font-size: 32px
  font-weight: bold
  text-align: center
  text-transform: uppercase
.ui-card
  .ui-card-body
    padding: 35px
    .ui-card-content
      font-size: 20px
.btn-main
  width: 300px
  font-size: 20px
.card-main
  display: flex
  align-items: center
  justify-content: center
#blink
  -webkit-animation: blink 2s linear infinite
  animation: blink 2s linear infinite
@-webkit-keyframes blink
  50%
    color: rgb(255, 255, 255)
  51%
    color: rgba(255, 255, 255, 0)
  100%
    color: rgba(255, 255, 255, 0)
@keyframes blink
  50%
    color: rgb(255, 255, 255)
  51%
    color: rgba(255, 255, 255, 0)
  100%
    color: rgba(255, 255, 255, 0)
body
  .badge-info
    font-size: 14px
